.header{
    list-style-type:none;
    text-align: center;
}

.header ul li{
    display: inline;
    padding: 2%;
}

.boxes{
    width: 310px;
    height: 500px;
    background-color: rgba(255,255,255,0.7);
    margin: 1%;
    padding: 1%;
    float: left;
    overflow: auto;
}
.box{
  background-color: #FFA500;
}

.box img {
      width: 100%;
      height: 80%;
}
.images img {
      object-fit: cover;
}

.footer{
    background-color: black;
    color: white;
    padding: 0.5% 2% 2%;
}
.clearfix{
    float: none;
    clear: both;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header & Footer */
.header{
  list-style-type:none;
  text-align: center;
}

.header ul li{
  display: inline;
  padding: 2%;
}

.wrapper{
  border: 1px solid black;
}

.footer{
  background-color: black;
  color: white;
}
/* Movies */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
  width: 100%;
  background: #f1f4fd;
}
.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
